.day {
    flex-basis: 35px;
    overflow: hidden;
    transition: all .2s ease-out;
}

.day:not(:last-child) {
    border-bottom: 1px solid grey;
}

.day:has(.expander:checked) {
    background-color: rgb(237, 227, 227);
    flex-basis: unset;
}

